.button {
    font-size: 17px;
    &.is-text {
        border-color: none;
        color: $primary;
        text-decoration: none;
    }
    &.is-small-text {
        @extend .is-text;
        font-size: 13px;
    }
    &.is-outline {
        border-color: $primary;
        color: $primary;
        border-width: 2px;
    }
    &.is-mediumn-outline {
        @extend .is-outline;
        font-size: 15px;
    }

    &.is-primary {
        padding: 22px 20px;
    }
    
}

body {
    background-color: #FAFAFA;
    font-family: 'SF-Pro-Text';
    font-size: 12px;

}

html, body {
    height: 100%;
}
h1 {
    font-size: 35px;
    line-height: 42px;
    font-weight: bold;
    color: #333;
}

.label {
    font-size: 15px;
    color: #333;
    font-weight: normal;
    margin-top: auto;
}

.navbar-center {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.navbar {
    -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}

.navbar-item {
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
}
.navbar-item:focus, .navbar-item:focus-within, .navbar-item:hover, 
.navbar-item.is-active, .navbar-link:focus, 
.navbar-link:focus-within, 
.navbar-link:hover, .navbar-link.is-active {

    background-color: #fafafa;
    color: $primary;

}

.navbar-item, .navbar-link {
    cursor: pointer;
}

.error {
    font-size: 9px;
    color: red;
}

.myloader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5001;
    align-items: center;
    justify-content: center;
}